apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-scripts
data:
  functions.sh: |-
    {{ .Files.Get "files/functions.sh" | nindent 4 | trim }}
  build-models.sh: |-
    {{ .Files.Get "files/build-models.sh" | nindent 4 | trim }}
  init.sh: |-
    {{ .Files.Get "files/init.sh" | nindent 4 | trim }}
---
{{- range .Values.models }}
{{- if not .existingConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-model-{{ .name }}
data:
{{- $model := . }}
{{- range .files }}
  {{ .key }}: |-
    {{ $.Files.Get (printf "files/repository/%s/%s" $model.name .path) | nindent 4 | trim }}
{{- end }}
---
{{- end }}
{{- end }}
