apiVersion: v1
kind: Service
metadata:
  name: {{ include "triton.fullname" . }}
  labels:
    {{- include "triton.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8000
      targetPort: http
      name: http
    - port: 8001
      targetPort: grpc
      name: grpc
    - port: 8002
      targetPort: metrics
      name: metrics
  selector:
    {{- include "triton.selectorLabels" . | nindent 4 }}
